<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/DerrickAsamoah/projects/java/rest-assured-skill-group/marshalling.png">
            <classes>

                    <class name = "com.restassured.week_5.TestAutomationFramework"/>
                    <class name = "com.restassured.week_4.RateLimit"/>

<!--                    test_suite.RestAPITests-->
            </classes>
    </test>
</suite>